%h2 Books list
#books
  - if books.any?
    - books.each do |book|
      .book
        = book.title
        (
        = book.author
        )
        = link_to 'Edit', routes.edit_book_path(book.id)
        = link_to 'Delete', '/'
  - else
    .no-books There are no books yet
